{% extends "main.html" %}

{% block content %}
	<div class="thumbnail">
		<img class="img-responsive" id="thumbnail-img" src="/static/img-min/logo.png" />
		<div class="caption">
			<a href="#"><h2>{{teste}}</h2></a>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut alquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. PEDRO</p>
		</div>
	</div>
{% endblock content %}
